{% extends "rango/base.html" %}
{% load static %}

{% block title_block %}
    <strong>This tutorial has been put together by opwtryl.</strong>
{% endblock title_block %}

{% block body_block %}
    <strong>This tutorial has been put together by opwtryl.</strong>
    
    <div>
            <a href='/rango/'>Main Page</a><br />
            
            
            <table>
            <tr>
                <td>  <img src="{% static "rango/images/MuDaMuDa.jpg" %}" alt="MuDaMuDa" />
                </td>
                <td>   <img src="{{ MEDIA_URL }}ORaORa.jpg" alt="ORaORa" />
                </td>
            </tr>
            </table>
        </div>
{% endblock body_block %}