
<!DOCTYPE html>

{% load static %}

<html>
    <head><br /><strong>This tutorial has been put together by opwtryl.</strong>
    </head>
    
    <body>
        <div>
            <a href='/rango/'>Main Page</a><br />
            
            
            <table>
            <tr>
                <td>  <img src="{% static "rango/images/MuDaMuDa.jpg" %}" alt="MuDaMuDa" />
                </td>
                <td>   <img src="{{ MEDIA_URL }}ORaORa.jpg" alt="ORaORa" />
                </td>
            </tr>
            </table>
        </div>
    </body>
</html>